/* begin of CSS to Declaração de Acessibilidade */

div[role="main"] a {
    text-decoration: underline;
    color: #0085A1;
} 

div[role="main"] nav a {
    text-decoration: none;
    color: #212529;
}

.container hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 1px solid #212529;
}

.container dd {
    margin-bottom: .5rem;
    margin-left: 1rem;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
}
/* end of CSS to Declaração de Acessibilidade */

