---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div role="main" class="container">

  {% if content != empty %}
  
    <div class="row">
      <div class="col-lg-4 col-md-2 order-md-2 mx-auto">

        <nav aria-labelledby="fastread">
          <p id="fastread">Navegação rápida na página:</p>
          <ul class="list-group">
		  <li class="list-group-item"><i class="bi bi-arrow-down-left-square-fill"></i> <a href="#n1">1. Estado de Conformidade</a></li>
		  <li class="list-group-item"><i class="bi bi-arrow-down-left-square-fill"></i> <a href="#n2">2. Presente Declaração</a></li>
		  <li class="list-group-item"><i class="bi bi-arrow-down-left-square-fill"></i> <a href="#n3">3. Contactos</a></li>
		  <li class="list-group-item"><i class="bi bi-arrow-down-left-square-fill"></i> <a href="#n4">4. Outras evidências</a></li>
		  <li class="list-group-item"><i class="bi bi-arrow-down-left-square-fill"></i> <a href="#n5">5. Denúncia de situações</a></li>
	  </ul>
	</nav>
        
      </div>
      <div class="col-lg-8 col-md-10 order-md-1 mx-auto">

        {{ content }}

      </div>
    </div>


  {% else %}

  <p>A página não tem conteúdo!!</p>
	  
  {% endif %}
	  
  </div>
