---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-4 col-md-2 order-md-2 mx-auto">
        
        <p>col-lg-4</p>
        
      </div>
      <div class="col-lg-8 col-md-10 order-md-1 mx-auto">

        {{ content }} 
        <p>col-lg-8 col-md-10</p>

      </div>
    </div>
  </div>
